[submodule "chlwldks9926_file/chlwldks9926_file/Summarize-long-articles-using-Huggingface-Transformers"]
	path = chlwldks9926_file/chlwldks9926_file/Summarize-long-articles-using-Huggingface-Transformers
	url = https://github.com/chlwldks9926/Summarize-long-articles-using-Huggingface-Transformers
